/*  your css code here. If applicable */
#yellow{
	backgroundColor: yellow;
    border: 1px solid green;
}

#red{
    border: 1px solid black;
	backgroundColor: red;
}
#green{
    border: 1px solid yellow;
	backgroundColor: green;
}