/*  your css code here. If applicable */
#yellow{
	background-color: yellow;
    border: 1px solid green;
}

#red{
    border: 1px solid black;
	background-color: red;
}
#green{
    border: 1px solid yellow;
	background-color: green;
}